.projectFooter .techList {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  gap: 15px;
  flex-wrap: wrap;
}

.projectFooter .techList li {
  font-family: var(--font-mono);
  font-size: .85rem;
  line-height: 1;
  word-spacing: -3px;
}