@use "@/styles/mixins" as m;

.projectHeader {
  width: 100%;
}

.projectHeader .projectTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.projectHeader .projectTop>svg {
  stroke: #64ffda;
  width: 40px;
  height: 40px;
}

.projectHeader .description {
  color: #a8b2d1;
  font: 1.0625rem;
}