@use "@/styles/mixins" as m;

.content {
  max-width: 890px;
  width: 100%;
  text-wrap: pretty;
  grid-area: aboutContent;
}

@include m.media(medium) {
  .content {
    max-width: 100%;
  }
}

.content p {
  color: var(--main-text-color);
  line-height: 1.3;
  font-size: 1.2rem;
  margin-bottom: 16px;
}

@include m.media(small) {
  .content p {
    font-size: 1.15rem;
  }
}

@include m.media(very-small) {
  .content p {
    font-size: 1rem;
    text-wrap: pretty;
  }
}