@use "@/styles/mixins" as m;

.archive {
  padding: 200px 140px;
}

@include m.media(large) {
  .archive {
    padding: 200px 110px;
  }
}

@include m.media(small) {
  .archive {
    padding: 150px 25px;
  }
}

@include m.media(very-small) {
  .archive {
    padding: 150px 15px;
  }
}