@use "@/styles/mixins" as m;

.previewImg {
  -webkit-tap-highlight-color: transparent;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  grid-area: 1 / 6 / -1 / -1;
  z-index: 1;
  outline: solid 0 var(--green);
  outline-offset: 0;
  transition:
    outline .2s ease,
    outline-offset .2s ease;

  &:focus-visible {
    outline: solid 3px var(--green);
    outline-offset: 3px;
  }
}

@include m.large {
  .previewImg {
    grid-area: 1 / 6 / -1 / -1;
  }
}

@include m.small {
  .previewImg {
    grid-column: 1 / -1;
    height: 100%;
    opacity: .25;
  }
}