@use "@/styles/mixins" as m;

.otherProjects {
  list-style: none;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 15px;
  position: relative;
  width: 100%;
}

@media (max-width: 900px) {
  .otherProjects {
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }
}

@include m.very-small {
  .otherProjects {
    grid-template-columns: 1fr;
  }
}