@use "@/styles/mixins" as m;

.panels {
  position: relative;
  width: 100%;
  min-height: 340px;
  margin-left: 20px;
}

@include m.small {
  .panels {
    margin-left: 0;
    margin-top: 20px;
  }
}