@use "@/styles/mixins" as m;

.panels {
  font-family: var(--font-calibre-main);
  position: relative;
  width: 100%;
  min-height: 340px;
  margin-left: 20px;
}

@include m.media(medium) {
  .panels {
    margin-left: 0;
    margin-top: 20px;

    &>* {
      width: 100%;
    }
  }
}