@use "@/styles/mixins" as m;

.highlight {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 2px;
  height: var(--tab-height);
  border-radius: 4px;
  background: var(--green);
  transform: translate(0 calc(2 * var(--tab-height)));
  transition: transform .25s .1s var(--ease-main);
}

@include m.media(medium) {
  .highlight {
    height: 2px;
    width: 100px;
    top: unset;
    bottom: 0;
    left: 0;
    transform-origin: left center;
    will-change: transform;
    transition: transform .25s .1s var(--ease-main);
  }
}