@use "@/styles/mixins" as m;

.highlight {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 2px;
  height: var(--tab-height);
  border-radius: 4px;
  background: var(--green);
  translate: 0 calc(2 * var(--tab-height));
  transition: translate .25s .1s var(--ease-main);
}

@include m.small {
  .highlight {
    height: 2px;
    top: unset;
    bottom: 0;
    translate: calc(2 * var(--tab-height)) 0;
  }
}