.projectCard {
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, .7);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 100%;
  padding: 32px 28px;
  border-radius: 4px;
  background-color: #112240;
  overflow: auto;
  transition: translate .25s cubic-bezier(.645, .045, .355, 1);

  &:hover {
    translate: 0 -5px;
  }
}

.projectCard header .projectTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.projectCard header .projectTop svg {
  stroke: #64ffda;
  width: 40px;
  height: 40px;
}

.projectCard header .projectTop .externalLink {
  display: flex;
  align-items: center;
  margin-right: -10px;
  color: #a8b2d1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 7px;
}

.projectCard header .projectTop .externalLink:hover svg {
  stroke: #64ffda;
}

.projectCard header .projectTop .externalLink svg {
  width: 22px;
  height: 22px;
  margin-top: -4px;
  stroke: #a8b2d1;
  transition: stroke .25s cubic-bezier(.645, .045, .355, 1);
}

.projectCard header .title {
  margin-bottom: 10px;
  color: #ccd6f6;
  font-size: 1.375rem;
  line-height: 1.1;
  transition: color .25s cubic-bezier(.645, .045, .355, 1);

  &:hover {
    color: #64ffda;
  }
}

.projectCard header .description {
  color: #a8b2d1;
  font: 1.0625rem;
}

.projectCard footer .techList {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  gap: 15px;
  flex-wrap: wrap;
  list-style: none;
}

.projectCard footer .techList li {
  font-family: var(--font-mono);
  font-size: .85rem;
  line-height: 1.75;
}