@use "@/styles/mixins" as m;

.projectCard {
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, .7);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 100%;
  padding: 32px 28px;
  border-radius: 4px;
  background-color: #112240;
  position: relative;
  transition: translate .25s var(--ease-main);

  &:hover {
    translate: 0 -5px;
  }
}

@include m.very-small {
  .projectCard {
    padding: 25px 20px;
  }
}