@use "@/styles/mixins" as m;

.sidebar {
  position: sticky;
  top: 120px;
  align-self: start;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  scrollbar-width: thin;
}

@include m.media(medium) {
  .sidebar {
    display: none;
  }
}

.tocList {
  border-left: 1px solid #233554;
}

.tocList li {
  list-style: none;
}

.tocList a {
  display: flex;
  min-height: 30px;
  align-items: center;
  border-left: 2px solid transparent;
  margin-left: -1px;
  padding-inline: 12px;
  color: #758db6;
  font-size: 0.86rem;
  line-height: 1.2;
  outline: solid 2px transparent;
  outline-offset: -5px;
  transition:
    color .1s var(--ease-main),
    outline .1s var(--ease-main),
    border-color .1s var(--ease-main),
    outline-offset .1s var(--ease-main);

  &.active,
  &.active:hover {
    border-color: var(--green);
    color: #fff;
  }

  &:hover {
    color: #ccd6f6;
  }

  &:focus-visible {
    border-radius: 4px;
    color: #fff;
    outline-color: var(--green);
    outline-offset: -3px;
    border-left-color: transparent;
  }
}

.tocList .subItem a {
  padding-left: 22px;
  font-size: 0.8rem;
}