@use "@/styles/mixins" as m;

.title {
  margin-bottom: 10px;
  color: #ccd6f6;
  font-size: 1.375rem;
  line-height: 1.1;
}

.title>a {
  transition: color .25s var(--ease-main);

  &:hover {
    color: var(--green);
  }

  &:focus-visible {
    outline: none;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--green);
  }
}

.title>a .status {
  all: initial;
  font-family: var(--font-mono);
  display: inline-block;
  color: var(--green);
  font-weight: 400;
  font-size: .6rem;
  margin-left: 10px;
  border: 1px solid var(--green);
  border-radius: 10px;
  padding: 4px 6px;
  position: relative;
  bottom: 4px;
  pointer-events: none;
  height: fit-content;
}

@include m.very-small {
  .title>a .status {
    position: absolute;
    right: 90px;
    top: 34px;
  }
}