@mixin fade-slide-up {
  @keyframes fade-slide-up {
    from {
      translate: -50% 100%;
      opacity: 0;
    }

    to {
      translate: -50% 0;
      opacity: 1;
    }
  }
}

@mixin fade-slide-up-mobile {
  @keyframes fade-slide-up-mobile {
    from {
      translate: -50% 100%;
      opacity: 0;
    }

    to {
      translate: -50% 34px;
      opacity: 1;
    }
  }
}