@use "@/styles/mixins" as m;

:root {
  --website-width: 1200px;
  --font-mono-main: var(--font-sf-mono), monospace, 'Fira Code', 'Fira Mono', 'Roboto Mono';
  --font-calibre-main: var(--font-calibre), sans-serif, 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui;
  --ease-main: cubic-bezier(.645, .045, .355, 1);
}

@include m.media(large) {
  :root {
    --website-width: 100%;
  }
}