@use "@/styles/mixins" as m;

@include m.medium {
  .hideOnMobile {
    display: none;
  }
}

.tbody tr td {
  padding: 10px;
  text-align: left;
}

.tbody tr td.year {
  padding-inline: 20px;
  color: #64ffda;
  font-family: var(--font-mono);
  font-size: 1rem;
  font-weight: 400;
}

@include m.small {
  .tbody tr td.year {
    font-size: .9rem;
  }
}

@include m.very-small {
  .tbody tr td.year {
    font-size: .8rem;
    padding-inline: 10px;
  }
}

.tbody tr td.title {
  padding-top: 15px;
  padding-right: 20px;
  color: #ccd6f6;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25;
}

@include m.small {
  .tbody tr td.title {
    font-size: 1.1rem;
  }
}

@include m.very-small {
  .tbody tr td.title {
    font-size: .9rem;
  }
}

.tbody tr td.tech {
  font-size: .75rem;
  font-family: var(--font-mono);
  line-height: 1.5;
}

.tbody tr td.tech>span {
  display: inline-block;
}

.tbody tr td.tech>span .separator {
  display: inline-block;
  margin: 0px 5px;
}

.tbody tr td.links {
  padding-right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

@include m.very-small {
  .tbody tr td.links {
    padding-inline: 10px;
  }
}

.tbody tr td.links a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.tbody tr td.links a>svg {
  width: 20px;
  height: 20px;
}

@include m.very-small {
  .tbody tr td.links a>svg {
    width: 18px;
    height: 18px;
  }
}