.featuredProject {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  position: relative;
}

.featuredProject .content {
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
  z-index: 2;
}

.content .projectHeader {
  margin-bottom: 24px;
}

.content .projectHeader .featuredText {
  font-family: var(--font-mono);
  font-size: .9rem;
  color: #64ffda;
}

.content .projectHeader .title {
  font-size: clamp(1.5rem, 5vw, 1.75rem);
  font-weight: 700;
  color: #ccd6f6;
  margin: 2px 0 16px;
}

.content .description {
  background: #112240;
  color: #a8b2d1;
  padding: 21px;
  border-radius: 8px;
  line-height: 1.3;
  border: 1px solid rgba(136, 146, 176, .2);
  font-size: 1.125rem;
  position: relative;
  text-wrap: pretty;
}

.content .techList {
  display: flex;
  flex-wrap: wrap;
  margin: 12px 0;
  position: relative;
  left: -13px;
  width: 440px;
}

.featuredProject[dir=rtl] .content .techList {
  left: auto;
  right: -13px;
}

.content .techList li {
  padding: 6px 13px;
  border-radius: 20px;
  font-family: var(--font-mono);
  font-size: .875rem;
  font-weight: 500;
  color: #a8b2d1;
  cursor: pointer;
  transition: color .3s ease;

  &:hover {
    color: #64ffda;
  }
}

.content .projectLinks {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
}

.featuredProject[dir=rtl] .content .projectLinks {
  flex-direction: row-reverse;
}

.content .projectLinks a {
  display: flex;
  gap: 8px;
  color: #ccd6f6;
  font-size: 1rem;
  padding: 6px 16px;
  padding-top: 11px;
  border-radius: 4px;
  border: 1px solid rgba(136, 146, 176, .2);
  transition: color .3s ease, border-color .3s ease;

  &:hover {
    color: #64ffda;
    border-color: #64ffda;
  }
}

.content .projectLinks a svg {
  width: 15px;
  height: 15px;
}

.featuredProject .previewImg {
  border-radius: 6px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .3);
  cursor: pointer;
  aspect-ratio: 14 / 8;
  position: relative;
  overflow: hidden;
  grid-area: 1 / 6 / -1 / -1;
  z-index: 1;
}

.featuredProject .previewImg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
  z-index: 3;
  background-color: #00ff7751;
  transition: all .15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.featuredProject .previewImg:hover::before {
  mix-blend-mode: screen;
  filter: grayscale(100%) contrast(2) brightness(90%);
}

.featuredProject .previewImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) brightness(0.9);
  transition: filter .1s .1s cubic-bezier(.4, 0, .2, 1);
}

.featuredProject .previewImg:hover img {
  filter: grayscale(0) brightness(.9);
}