@use "@/styles/mixins" as m;

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.navLinks li {
  margin-inline: 5px;
  counter-increment: item 1;
}

.navLinks li a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  font-size: .8rem;
  padding: 10px;
  position: relative;
  transition:
    color .25s var(--ease-main),
    outline .1s var(--ease-main);

  &:hover {
    color: var(--green);
  }

  &:focus-visible {
    color: var(--green);
    outline: solid 2px var(--green);
  }
}

@media (min-width: 992px) {
  .navLinks li a::before {
    content: "0" counter(item) ".";
    margin-right: 5px;
    color: var(--green);
    font-size: .75rem;
    text-align: right;
  }
}