@use "@/styles/mixins" as m;

@include m.media(medium) {
  .hideOnMobile {
    display: none;
  }
}

.projectRow:has(:focus-visible, :hover) {
  background-color: #112240;
}

.projectRow td {
  padding: 10px;
  text-align: left;
}

.projectRow td.year {
  padding-inline: 20px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: 1rem;
  font-weight: 400;
}

@include m.media(small) {
  .projectRow td.year {
    font-size: .9rem;
  }
}

@include m.media(very-small) {
  .projectRow td.year {
    font-size: .8rem;
    padding-inline: 10px;
  }
}

.projectRow td.title {
  padding-top: 15px;
  padding-right: 20px;
  color: #ccd6f6;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25;
}

@include m.media(small) {
  .projectRow td.title {
    font-size: 1.1rem;
  }
}

@include m.media(very-small) {
  .projectRow td.title {
    font-size: .9rem;
  }
}

.projectRow td.tech {
  font-size: .75rem;
  font-family: var(--font-mono);
  line-height: 1.5;
}

.projectRow td.tech>span {
  display: inline-block;
}

.projectRow td.tech>span .separator {
  display: inline-block;
  margin-inline: 5px;
}

.projectRow td.links .wrapper {
  padding-right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

@include m.media(very-small) {
  .projectRow td.links .wrapper {
    padding-inline: 10px;
  }
}

.projectRow td.links .wrapper a {
  -webkit-tap-highlight-color: transparent;
  @include m.center-x-y;
  flex-shrink: 0;
  transition: outline-color .25s var(--ease-main);

  &:focus-visible {
    outline: 2px solid var(--green);
    outline-offset: 5px;
  }
}

.projectRow td.links .wrapper>a>svg {
  width: 20px;
  height: 20px;
  transition: color .25s var(--ease-main);
}

.projectRow td.links .wrapper>a:where(:hover, :focus-visible)>svg {
  color: var(--green);
}

@include m.media(very-small) {
  .projectRow td.links .wrapper>a>svg {
    width: 18px;
    height: 18px;
  }
}