@use "@/styles/mixins" as m;

.buttons {
  display: flex;
  align-items: center;
}

@include m.small {
  .buttons {
    display: none;
  }
}

.buttons .resume,
.buttons .installPWA>button {
  color: #5ff1cf;
  background-color: transparent;
  border: 1px solid #5ff1cf;
  border-radius: 4px;
  padding: 12px 16px;
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  margin-left: 15px;
  font-size: .8rem;
  user-select: none;
  transition:
    color .2s var(--ease-main),
    background-color .2s var(--ease-main),
    border-color .2s var(--ease-main),
    box-shadow .2s var(--ease-main),
    outline .1s var(--ease-main);

  &:hover {
    background-color: var(--green);
    color: var(--website-bg);
    box-shadow: 0 4px 6px rgba(100, 255, 218, .2);
  }

  &:focus-visible {
    outline: solid 2px var(--green);
    outline-offset: -1px;
  }
}