@use "@/styles/mixins" as m;

.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  padding: 0 50px;
  width: 100%;
  height: 100px;
  background-color: rgba(10, 25, 47, .85);
  backdrop-filter: blur(10px);
  transition:
    translate .25s cubic-bezier(.645, .045, .355, 1),
    box-shadow .25s cubic-bezier(.645, .045, .355, 1),
    height .25s cubic-bezier(.645, .045, .355, 1);

  &.active {
    height: 70px;
    translate: 0 0;
    background-color: rgba(10, 25, 47, 0.85);
    box-shadow: 0 10px 30px -10px rgba(2, 12, 27, .7);
  }

  &.hidden {
    height: 70px;
    translate: 0 calc(70px * -1);
    box-shadow: 0 10px 30px -10px rgba(2, 12, 27, .7);
  }
}

@include m.small {
  .header {
    padding: 0 25px;
  }
}

@include m.very-small {
  .header {
    padding: 0 15px;
  }
}

.header .navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  color: #ccd6f6;
  font-family: var(--font-mono);
  z-index: 12;
}

.header .navLinks .logo {
  width: 42px;
  height: 42px;
  position: relative;
  z-index: 1;
}

.header .navLinks .wrapper {
  display: flex;
  align-items: center;
}

@include m.small {
  .header .navLinks .wrapper {
    display: none;
  }
}

.header .wrapper .resume {
  color: #5ff1cf;
  background-color: transparent;
  border: 1px solid #5ff1cf;
  border-radius: 4px;
  padding: .75rem 1rem;
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  margin-left: 15px;
  font-size: .9rem;
  user-select: none;
  transition:
    color .2s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color .2s cubic-bezier(0.645, 0.045, 0.355, 1),
    border-color .2s cubic-bezier(0.645, 0.045, 0.355, 1),
    box-shadow .2s cubic-bezier(0.645, 0.045, 0.355, 1);

  &:hover {
    background-color: #64ffda;
    color: #0a192f;
    box-shadow: 0 4px 6px rgba(100, 255, 218, .2);
  }
}