.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  position: fixed;
  bottom: 0;
  left: 40px;
  z-index: 10;
  color: #a8b2d1;
}

.socialMedia::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background-color: #a8b2d1;
}

.socialMedia li:last-child {
  margin-bottom: 20px;
}

.socialMedia a {
  display: inline-block;
  position: relative;
  padding: 10px;
  transition: translate .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.socialMedia a:hover {
  translate: 0 -3px;
}

.socialMedia a:hover svg {
  stroke: #64ffda;

  &[data-type=twitter] {
    fill: #64ffda;
  }
}

.socialMedia a svg {
  width: 20px;
  height: 20px;
  fill: none;
  transition:
    fill .25s cubic-bezier(0.645, 0.045, 0.355, 1),
    stroke .25s cubic-bezier(0.645, 0.045, 0.355, 1);

  &[data-type=twitter] {
    fill: #a8b2d1;
  }
}