@use "@/styles/mixins" as m;

.tabList {
  --tab-height: 42px;
  position: relative;
  z-index: 3;
  min-width: max-content;
  max-height: calc(var(--tab-height) * 12);
  overflow-y: auto;
  overscroll-behavior: contain;
}

@include m.media(small) {
  .tabList {
    width: 100%;
    min-width: 100%;
    display: flex;
    overflow-x: auto;
  }
}