@use "@/styles/mixins" as m;

.tabList {
  --tab-height: 42px;
  position: relative;
  z-index: 3;
  width: max-content;
}

@include m.small {
  .tabList {
    width: 100%;
    display: flex;
    overflow-x: auto;
  }
}