@use "@/styles/mixins" as m;

.tabList {
  --tab-height: 42px;
  position: relative;
  z-index: 3;
  width: max-content;
}

@include m.small {
  .tabList {
    width: 100%;
    display: flex;
    overflow-x: auto;
  }
}

.tabList .tabButton {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  border: none;
  outline: none;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: var(--tab-height);
  padding: 0 20px 2px;
  border-left: 2px solid #233554;
  background-color: transparent;
  color: #8892b0;
  font-family: var(--font-mono);
  font-size: .81rem;
  text-align: left;
  white-space: nowrap;
  transition: all .25s var(--ease-main);

  &:hover,
  &:focus-visible {
    background-color: #112240;
    color: var(--green);
  }

  &.active {
    color: var(--green);
  }
}

@include m.small {
  .tabList .tabButton {
    border-left: none;
    border-bottom: 2px solid #233554;
    width: 176.2px;
    min-width: 176.2px;
    padding: 0 0 2px 0;
    justify-content: center;
  }
}