.layer {
  transition: filter ease-in .2s .1s;

  &.blur {
    filter: blur(5px);
  }
}

@media (prefers-reduced-transparency: reduce) {
  .layer.blur {
    filter: none !important;
  }
}

// Invisible Layer
.layer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}


@media (prefers-reduced-transparency: reduce) {
  .layer.blur::before {
    background-color: rgba(10, 25, 47, .8);
  }
}

.layer.blur::before {
  pointer-events: all;
}