.otherProjectsHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otherProjectsHeader .title {
  margin-bottom: 10px;
  color: #ccd6f6;
  line-height: 1.1;
  font-weight: 600;
  font-size: clamp(1.5rem, 5vw, 2rem);
}