@use "@/styles/mixins" as m;

.techList {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1px 38px;
  list-style: none;
  width: fit-content;
  margin-top: 20px;
  position: relative;
  left: -8px;
}

@include m.small {
  .techList {
    gap: 1px 14px;
  }
}

@include m.very-small {
  .techList {
    grid-template-columns: auto;
    width: 100%;
  }
}

.techList li {
  position: relative;
  color: #8892b0;
  font-size: .85rem;
  font-family: var(--font-mono);
  text-wrap: nowrap;
  padding: 10px 8px;
  border-radius: 3px;
  transition: color .1s ease;

  &:hover {
    color: #64ffda;
  }
}

@include m.small {
  .techList li {
    position: static;
  }
}

@include m.very-small {

  // JavaScript
  .techList li:nth-child(1) {
    order: 2;
  }

  // Sass
  .techList li:nth-child(2) {
    order: 6;
  }

  // React
  .techList li:nth-child(3) {
    order: 4;
  }

  // Next
  .techList li:nth-child(4) {
    order: 5;
  }

  // Progressive Web Apps
  .techList li:nth-child(5) {
    order: 1;
  }

  // Redux/Toolkit
  .techList li:nth-child(6) {
    order: 3;
  }
}

.techList .infoBox {
  text-wrap: initial;
  min-width: 350px;
  max-width: 420px;
  background-color: rgba(20, 42, 76, .7);
  color: #e6f1ff;
  border-radius: 6px;
  padding: 14px 20px;
  box-shadow: 0 4px 18px 0 rgba(20, 30, 40, .13);
  border: 1px solid #64ffda;
  font-family: var(--font-sans);
  font-weight: 400;
  letter-spacing: .01em;
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: absolute;
  left: 0;
  top: 120%;
  scale: .98;
  pointer-events: auto;
  user-select: text;
  z-index: 20;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, scale .1s;
}

@include m.small {
  .techList .infoBox {
    min-width: 340px;
  }
}

@include m.very-small {
  .techList .infoBox {
    min-width: auto;
    max-width: auto;
    width: calc(100vw - 30px);
    top: 102%;
  }
}

.techList li:hover .infoBox {
  visibility: visible;
  opacity: 1;
  scale: 1;
}

.techList .infoBox>b {
  font-size: .95rem;
  font-weight: 500;
  color: #64ffda;
  letter-spacing: .03em;
}

.techList .infoBox>p {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
}