@use "@/styles/mixins" as m;

.techList {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1px 38px;
  list-style: none;
  width: fit-content;
  margin-top: 20px;
  position: relative;
  left: -8px;
}

@include m.small {
  .techList {
    gap: 1px 20px;
  }
}

@include m.very-small {
  .techList {
    grid-template-columns: auto;
  }
}

.techList li {
  position: relative;
  color: #8892b0;
  font-size: .85rem;
  font-family: var(--font-mono);
  cursor: pointer;
  margin-bottom: 8px;
  padding: 4px 8px;
  border-radius: 3px;
  transition: color .1s ease;

  &:hover {
    color: #64ffda;
  }
}

@include m.very-small {

  // JavaScript
  .techList li:nth-child(1) {
    order: 2;
  }

  // Sass
  .techList li:nth-child(2) {
    order: 6;
  }

  // React
  .techList li:nth-child(3) {
    order: 4;
  }

  // Next
  .techList li:nth-child(4) {
    order: 5;
  }

  // Progressive Web Apps
  .techList li:nth-child(5) {
    order: 1;
  }

  // Redux/Toolkit
  .techList li:nth-child(6) {
    order: 3;
  }
}