@use "@/styles/mixins" as m;

.wrapper {
  margin-top: 40px;
  display: flex;
  gap: 30px;
  grid-area: techList;
}

@include m.medium {
  .wrapper {
    flex-direction: column;
  }
}

.techList {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 0 35px;
  list-style: none;
  width: fit-content;
  left: -8px;
}

@include m.small {
  .techList {
    gap: 1px 14px;
    user-select: none;
  }
}

@include m.very-small {
  .techList {
    grid-template-columns: auto;
    width: 100%;
  }
}

.techList li {
  width: fit-content;
  height: fit-content;
  color: var(--main-text-color);
  font-family: var(--font-mono);
  font-size: .85rem;
  text-wrap: nowrap;
  padding: 4px 8px;
  border-radius: 3px;
  transition: color .1s ease;

  &:hover,
  &.active {
    color: #64ffda;
  }
}

@include m.small {
  .techList li {
    position: static;
  }
}

@include m.very-small {

  // JavaScript
  .techList li:nth-child(1) {
    order: 2;
  }

  // Sass
  .techList li:nth-child(2) {
    order: 6;
  }

  // React
  .techList li:nth-child(3) {
    order: 4;
  }

  // Next
  .techList li:nth-child(4) {
    order: 5;
  }

  // Progressive Web Apps
  .techList li:nth-child(5) {
    order: 1;
  }

  // Redux/Toolkit
  .techList li:nth-child(6) {
    order: 3;
  }
}