@use "@/styles/mixins" as m;

.infoBox {
  text-wrap: initial;
  min-width: 350px;
  max-width: 420px;
  min-height: 140px;
  color: #a8b2d1;
  text-wrap: pretty;
  background: #112240;
  border: 1px solid #75809e;
  border-radius: 8px;
  padding: 21px;
}

@include m.small {
  .infoBox {
    min-width: 340px;
  }
}

@include m.very-small {
  .infoBox {
    min-width: auto;
    max-width: auto;
    min-height: 100px;
    width: calc(100vw - 30px);
    padding: 15px;
  }
}

.infoBox>p {
  color: #ccd6f6;
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: 400;
}

@include m.very-small {
  .infoBox>p {
    font-size: 1rem;
  }
}