@use "@/styles/mixins" as m;

.aboutSection {
  width: fit-content;
  margin: 0 auto;
}

.aboutSection .content {
  max-width: 720px;
  width: 100%;
  text-wrap: pretty;
}

.aboutSection .content p {
  color: #8892b0;
  line-height: 1.3;
  font-size: 1.25rem;
  margin-bottom: 15px;
}

@include m.small {
  .aboutSection .content p {
    font-size: 1.15rem;
  }
}

@include m.very-small {
  .aboutSection .content p {
    font-size: 1rem;
    text-wrap: pretty;
  }
}

.aboutSection .content p.firstParagraph {
  color: #ccd6f6;
  font-size: 1.35rem;
  line-height: 1.2;
  font-weight: 500;
}

@include m.small {
  .aboutSection .content p.firstParagraph {
    font-size: 1.25rem;
  }
}

@include m.very-small {
  .aboutSection .content p.firstParagraph {
    font-size: 1.05rem;
  }
}

.aboutSection .techList {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1px 38px;
  list-style: none;
  width: fit-content;
  margin-top: 20px;
  position: relative;
  left: -8px;
}

@include m.small {
  .aboutSection .techList {
    gap: 1px 20px;
  }
}

@include m.very-small {
  .aboutSection .techList {
    grid-template-columns: auto;
  }
}

.aboutSection .techList li {
  position: relative;
  color: #8892b0;
  font-size: .85rem;
  font-family: var(--font-mono);
  cursor: pointer;
  margin-bottom: 8px;
  padding: 4px 8px;
  border-radius: 3px;
  transition: color .1s ease;

  &:hover {
    color: #64ffda;
  }
}

@include m.very-small {

  // JavaScript
  .aboutSection .techList li:nth-child(1) {
    order: 2;
  }

  // Sass
  .aboutSection .techList li:nth-child(2) {
    order: 6;
  }

  // React
  .aboutSection .techList li:nth-child(3) {
    order: 4;
  }

  // Next
  .aboutSection .techList li:nth-child(4) {
    order: 5;
  }

  // Progressive Web Apps
  .aboutSection .techList li:nth-child(5) {
    order: 1;
  }

  // Redux/Toolkit
  .aboutSection .techList li:nth-child(6) {
    order: 3;
  }
}