@use "@/styles/mixins" as m;

.panel {
  position: absolute;
  top: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .05s var(--ease-main);

  &.show {
    transition: opacity .15s .08s var(--ease-main);
    pointer-events: all;
    opacity: 1;
  }
}

.panel .title {
  outline: none;
  color: #ccd6f6;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.3;
  text-transform: capitalize;
  transition: color .2s var(--ease-main);

  &:hover,
  &:focus-visible {
    color: #64ffda;
  }
}

.panel .description {
  position: relative;
  margin-block: 2px 25px;
  font-family: var(--font-sans);
  font-size: 1.125rem;
  line-height: 1.3;
  color: #a8b2d1;
}

@include m.medium {
  .panel .description {
    font-size: 1.15rem;
  }
}

.panel .pullRequests {
  font-size: 1.125rem;
  max-height: 217px;
  overflow-y: auto;
}

.panel .pullRequests li>a {
  outline: none;
  display: inline-block;
  font-size: 1.125rem;
  padding-left: 30px;
  padding-block: 5px;
  color: #8892b0;
  position: relative;
  transition: color .1s var(--ease-main);

  &:hover,
  &:focus-visible {
    color: #64ffda;
    text-decoration: underline;
  }
}

@include m.medium {
  .panel .pullRequests li>a {
    padding-left: 20px;
  }
}

@include m.medium {
  .panel .pullRequests li>a {
    font-size: 1.15rem;
  }
}

.panel .pullRequests li>a::before {
  content: "▹";
  position: absolute;
  left: 0;
  color: #64ffda;
}