@use "@/styles/mixins" as m;

.panel {
  outline: dashed 2px transparent;
  outline-offset: 6px;
  position: absolute;
  top: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .05s var(--ease-main);

  &.show {
    transition: opacity .15s .08s var(--ease-main);
    pointer-events: all;
    opacity: 1;

    &:focus-visible {
      outline-color: var(--green);
    }
  }
}

.panel .title {
  outline: none;
  color: #ccd6f6;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.3;
  text-transform: capitalize;
  transition: color .2s var(--ease-main);

  &:hover,
  &:focus-visible {
    color: var(--green);
  }
}

.panel .description {
  position: relative;
  margin-block: 2px 25px;
  font-family: var(--font-sans);
  font-size: 1.125rem;
  line-height: 1.3;
  color: #a8b2d1;
}

@include m.medium {
  .panel .description {
    font-size: 1.15rem;
  }
}