@use "@/styles/mixins" as m;

.projectLinks {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  user-select: none;
  direction: ltr;
  pointer-events: all;
}

@media (max-width: 880px) {
  .projectLinks {
    display: flex;
    top: 0;
    margin: 0;
  }
}

.featuredProject[dir=rtl] .projectLinks {
  flex-direction: row-reverse;
}

.projectLinks a {
  -webkit-tap-highlight-color: transparent;
  display: flex;
  gap: 8px;
  color: #ccd6f6;
  font-size: 1rem;
  padding: 8px 11px 4px 11px;
  border-radius: 4px;
  border: 1px solid #233149;
  outline: solid 2px transparent;
  transition:
    color .3s ease,
    border-color .3s ease,
    outline-color .3s ease;

  &:hover {
    color: #64ffda;
    border-color: #64ffda;
  }

  &:focus-visible {
    color: #64ffda;
    outline-color: #64ffda;
    outline-offset: -2px;
  }
}

@include m.small {
  .featuredProject .projectLinks a {
    transition:
      color .3s .1s ease,
      border-color .3s .1s ease,
      outline-color .3s .1s ease;

    &:hover,
    &:focus-visible {
      transition:
        color .3s ease,
        border-color .3s ease,
        outline-color .3s ease;
    }

    &:hover {
      color: #64ffda;
      border-color: #64ffda;
    }

    &:focus-visible {
      color: #64ffda;
      outline-color: #64ffda;
      outline-offset: -2px;
    }
  }
}

.projectLinks a svg {
  width: 15px;
  height: 15px;
}