.contributionsSection {
  padding: 6rem 0;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 6rem 1.5rem;

  @media (max-width: 768px) {
    padding: 4rem 1.5rem;
  }
}

.contributionsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1.5rem;
  margin-top: 3rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 1.25rem;
  }
}